# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
ENV/

# Django stuff:
*.log
staticfiles/
local_settings.py

# Flask/Django instance folder
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pip and package managers
*.lock
pip-log.txt
pip-delete-this-directory.txt
Pipfile
Pipfile.lock
poetry.lock

# Celery beat schedule file
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Mac OS X metadata
.DS_Store

# Environments
.env
.env.*
/tmp/redis.conf


# Logs
*.log
*.out
*.err

# VS Code
.vscode/

# IDE files
.idea/

# MyPy
.mypy_cache/

# Bandit
.bandit/

# Pytest Cache
.pytest_cache/

# App
celebs_data/images/

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Data directories
db_data/
redis_data/
secrets/

# Security and Credentials
# SSH keys
.ssh/
*_key
*_key.pub
*.pem
*.ppk

# Certificates and keys
*.crt
*.cert
*.p12
*.pfx
*.jks
*.keystore
*.truststore

# Configuration files with sensitive data
values.json
**/values.json
*wg0.conf

# Vault credentials
vault_creds/
**/vault_creds/
**/wireguard/values/
**/wireguard/cleanup/
k8s/vault/on_vps/vault-service-account.json

# Kubernetes secrets
*.kubeconfig
kubeconfig
k3s.yaml

# Ansible sensitive files
**/host_vars/**/vault.yml
**/group_vars/**/vault.yml
**/inventory.ini
**/inventory/*.ini

# Ansible logs and temporary files
playbooks/*/logs/
**/logs/

# Temporary files
*.tmp
*.temp
*.swp
*~
